body {
  background-color: #8fd0ff;
}

div.Calendar {
  display: flex;
  justify-content: space-evenly;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  color: #9ad5ff;
  font-weight: 250;
  font-size: .75em;
  text-align: center;
  line-height: 29px;
  width: 27px;
  height: 27px;
  background-color: #3f8abf;
  border-radius: 50%;
  margin: 0.5em;
}